*{
    color: rgba(255, 255, 255, .55)!important;
}

option, select, input{
    background: #000;
}

input{
    width: 100px;
}



.widthforform{
    display: flex;
    justify-content: space-between;
    width: 400px;
    flex-wrap: wrap;
}

.flexbetween1{
    display: flex;
    justify-content: space-between;
    /* flex-wrap: wrap; */
    padding: 5px;
}

.padding{
    padding: 0px;
}

.justify-content-center{
    display: flex;
    justify-content: center;
}

/* .justify-content-between{
    display: flex;
    justify-content: space-between;
} */

.error{
    color: red;
    font-size: 18px;
    padding: 5px;
}

@media(max-width: 350px){
    input{
        width: 100%;
    }
    .flexbetween1{
        flex-direction: column;
    }
}

@media(max-width: 480px){
    .main{
        padding-top: 70px;
    }
}

@media(max-width: 508px){
    .pad{
        width: 100%;
        text-align: center!important;
    }
}

.pad{
    padding: 5px 10px!important;
}

.tab-content{
    margin-top: 10px;
}

.active{
    color: rgba(255, 255, 255, .55)!important;
    background-color: #1a1b20!important;
}